<div id="calendar-message" style="color: green"></div>
<div class="input-append text" >
   <label><?=__('PL_CALENDAR_PRIORITY')?>:</label>
   <select id="priority" name="priority">
	  <option value="HIGH"><?=__('PL_CALENDAR_PRIORITY_HIGH')?></option>
	  <option value="MEDIUM"><?=__('PL_CALENDAR_PRIORITY_MEDIUM')?></option>
	  <option value="LOW" selected="selected"><?=__('PL_CALENDAR_PRIORITY_LOW')?></option>
   </select>
</div>

<div class="input-append date form_datetime">
   <label><?=__('PL_CALENDAR_EXPECTE_START_TIME')?>:</label>
   <input size="16" type="text" name="exp_start_time" id="exp_start_time">
   <span class="add-on"><i class="icon-th"></i></span>
</div>

<div class="input-append date form_datetime">
   <label><?=__('PL_CALENDAR_EXPECT_FINISH_TIME')?>:</label>
   <input size="16" type="text" name="exp_finish_time" id="exp_finish_time">
   <span class="add-on"><i class="icon-th"></i></span>
</div>
<button class="btn" type="button" id="update_todo_time"
onclick="update_timeline(<?=$data['tid']?>, $('#priority').val(), $('#exp_start_time').val(), $('#exp_finish_time').val())"
><?=__('PL_CALENDAR_SAVE')?></button>
<script>
$(".form_datetime").datetimepicker({
   format: 'yyyy-mm-dd hh:ii:ss',
   autoclose: true,
   weekStart: 1,
   language: 'zh-CN'
});

//TODO: start time and finish time check



</script>